* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  padding-top: 300px;
}

.titlebox {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 30px 195px;
  margin: 20px;
  border-style: solid;
  border-color: rgb(219, 219, 219);
}

.titlebox input {
  margin-top: 5px;
  width: 100%;
}

.title {
  display: flex;
  font-size: larger;
  font-weight: bold;
  margin-right: 0;
}

.description {
  margin-top: 5px;
}

main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.answer-container {
  padding: 20px;
  margin: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-style: solid;
  border-color: rgb(219, 219, 219);
  width: auto;
  /* position: relative; */
}

.head1 {
  font-size: 25px;
  text-align: left;
  margin: 0; /* 기본 margin 제거 */
}

.submit-button {
  width: 180px;
  height: 50px;
  border-radius: 50px;
  font-size: 16px;
}

.submit-button-container {
  margin-top: 20px;
}

.text-editor {
  width: 850px;
  height: 300px;
  margin-top: 10px;
  margin-bottom: 40px;
}

.ql-toolbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  border: none;
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
  margin: 0;
}

.ql-toolbar .ql-formats {
  margin-right: 15px;
}

.ql-toolbar .ql-formats:last-child {
  margin-right: 0;
}
